# Cole estas variáveis no painel do Vercel em Settings > Environment Variables

ANTHROPIC_API_KEY=sk-ant-...
ZAPI_INSTANCE=3F291F1C72C562830D4D62108CBB360D
ZAPI_TOKEN=72E618E4E0CB878094E7226A
ZAPI_CLIENT_TOKEN=
SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQCOcboYr_oMfUh8u2Yaaf45ROp3YiAxHB3ATFf4Y4OPNbyXcoPc6SBj3cI5HDXC0PA3Zcb5KEBo26d/pub?gid=708534767&single=true&output=csv
